body{
    background-color: #f2f2f2;
}

#car{
    width: 100px;
    height: 150px;
    background-repeat: no-repeat;
    position: relative;
    left: 20px;
    top: 300px;
}

#carPark{
    width: auto;
    height: 540px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 100px;
    margin-top: 89px;
}

#background{
    width: 1260px;
    height: 571px;
    background-image: url("Images/div-background.jpg");
    margin-bottom: 30px;
    margin-left: 51px;
    margin-top: 30px;
}

#form{
    margin-left: 50px;
}

#skipGame{
    width: 215px;
    height: 38px;
    font-weight: bold;
    font-size: 15px
}

#audio{
    margin-left: 50px;
    margin-top: 20px;
}

#princessParkhouse{
    margin-top: 20px;
    margin-left: 50px;
    color: #d27892;
    font-weight: bold;
}

#description{
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 21px;
}